<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title> Project 2 SF Restaurant Scores </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="dashboard.html"> <text id="homebutton"> Home </text></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="Leaflet.html"> Leaflet Map </a>
                            </li>
                            <li>
                                <a href="https://nirmalapooja.github.io/Project-2/"> Map </a>
                            </li>
                            <li>
                                <a href="static/Images/3_year_bar.png"> 3-year-bar </a>
                            </li>
                            <li>
                                <a href="static/Images/box_plot.png"> Box Plot </a>
                            </li>
                            <li>
                                <a href="static/Images/line.png"> Line Chart </a>
                            </li>
                            <li>
                                <a href="static/Images/pie_chart_2.png"> Pie Chart </a>
                            </li>
                            <li>
                                <a href="static/Images/seaborn_facetgrid.png"> Seaborn Grid  </a>
                            </li>
                            <li>
                                <a href="static/Images/reinspection_chart.png"> Reinspection Chart  </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="data.html"> Data </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-7" id="box">
                <br>
                <h1 class="animated slideInLeft"> Summary: SF Restaurant Health Scores</h1>
                <hr>
                <div class="row">
                    <!-- <div class="pull-left">
                            <img src="Resources\assets\images\Fig1.png" alt="Max Temperature" height="200" width="250">
                    </div> -->
                    <div class="text-left">
                        <p> The Health Department has developed an inspection report and scoring system. 
                            After conducting an inspection of the facility, the Health Inspector calculates 
                            a score based on the violations observed. Violations can fall 
                            into: high risk category, moderate risk category, and low risk category.
                            The score card that will be issued by the inspector is maintained at the 
                            food establishment and is available to the public in this dataset.
                        </p>
                        <p> We analyzed the dataset by constructing the risk categories by restaurant, what year 
                            had the most high and low risk categories. We made multiple charts and maps 
                            to summarize our findings.  
                        </p>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-lg-4" id="box">
                <br>
                <h3 class="animated slideInRight"> Visualizations </h3>
                <hr>
                <div class="row">
                    <div class="col-md-5">
                        <a href="Leaflet.html">
                            <img src="static/Images/streep map light.PNG" alt="visual header" height="90%" width="90%">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <a href="https://nirmalapooja.github.io/Project-2/">
                            <img src="static/Images/NP_map.PNG" alt="visual header" height="100%" width="100%">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <a href="static/Images/3_year_bar.png">
                            <img src="static/Images/3_year_bar.png" alt="visual header" height="100%" width="100%">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <a href="static/Images/box_plot.png">
                            <img src="static/Images/box_plot.png" alt="visual header" height="100%" width="100%">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <a href="static/Images/line.png">
                            <img src="static/Images/line.png" alt="visual header" height="100%" width="100%">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <a href="static/Images/pie_chart_2.png">
                            <img src="static/Images/pie_chart_2.png" alt="visual header" height="100%" width="100%">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <a href="static/Images/seaborn_facetgrid.png">
                            <img src="static/Images/seaborn_facetgrid.png" alt="visual header" height="100%" width="100%">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <a href="static/Images/reinspection_chart.png">
                            <img src="static/Images/reinspection_chart.png" alt="visual header" height="100%" width="100%">
                        </a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">Copyright &copy; Data Analytics Bootcamp 2019 </div>
    </footer>
</body>

</html>